@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Rubik:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  margin: 0;
  --white: #ffffff;
  --lightgray: #e8e8e8;
  --gray: #9e9e9e;
  --darkgray: #292929;
  --black: #0d0d0d;
  --blue: #b5e2fa;
  --darkblue: #8ed5fa;
  --darkerblue: #3ab1f0;
  --lightred: #e8c8c8;
  --red: #fcbcb8;
  --darkred: #fa9791;
  --code-font: 'Inconsolata', Consolas, 'Courier New', Courier, monospace;
  --code-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button,
input[type='text'],
input[type='email'],
input[type='submit'],
textarea {
  font-family: Rubik, sans-serif;
}

.site-container {
  display: flex;
  gap: 20px;
  margin: 0 1em 1em 1em;
  justify-content: space-evenly;
}

.heading {
  padding-top: 4em;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 0;
  max-width: 100em;
  min-width: 13em;
}

.site-name {
  font-size: 2.5em;
}

.site-nav {
  margin-top: 3em;
}

.nav__list {
  padding: 0;
}

.nav__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--black);
}

.nav__link:hover {
  text-transform: uppercase;
}

.content {
  max-width: 45em;
}

.site-article {
  margin-top: 4em;
}

/* About Me */
.about__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__header {
  display: inline-block;
}

.link-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-list__item {
  display: inline;
}

.link-list__item:not(:last-child) {
  margin-right: 0.3em;
}

.link-list__link {
  text-decoration: none;
  color: var(--black);
}

.icon {
  width: 1.75em;
  height: 1.75em;
}

.link-list__link:hover {
  color: var(--darkblue);
}

.about__description {
  margin-top: 0;
}

/* Work Experience */
.work-card {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  column-gap: 10px;
  align-items: baseline;
  margin-bottom: 2em;
}

.work-card:first-of-type {
  margin-top: 2.25em;
}

.card__heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4px;
}

.work-card__date {
  margin: 0;
  font-size: 14px;
}

.work-card__position {
  margin: 0;
  display: inline;
  font-size: 16px;
}

.work-card__location {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin: 0;
  color: var(--darkgray);
  font-family: var(--code-font);
  font-weight: 500;
  font-size: 17px;
}

.skill {
  display: inline;
  margin: 0;
  background: var(--red);
  padding: 5px 8px;
  border-radius: 11px;
  line-height: 30px;
  font-family: var(--code-font);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0px 2px 8px var(--lightred);
  -webkit-box-shadow: 0px 2px 8px var(--lightred);
}

.skill:not(:last-child) {
  margin-right: 4px;
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 1em;
}

.project {
  padding: 1em;
  border: 2px solid var(--lightgray);
  border-radius: 12px;
  box-shadow: 0px 2px 4px var(--lightgray);
  -webkit-box-shadow: 0px 2px 4px var(--lightgray);
}

.project:first-of-type {
  grid-column-start: span 2;
}

.project:hover {
  border: 2px solid var(--blue);
  box-shadow: 0px 2px 4px var(--blue);
  -webkit-box-shadow: 0px 2px 4px var(--blue);
}

.project__name {
  margin: 0;
}

.project__link {
  text-decoration: none;
  color: var(--black);
}

.project__link:hover {
  text-decoration: underline;
  color: var(--darkerblue);
}

.project__description {
  margin-bottom: 0;
}

.card__contents {
  display: flex;
  column-gap: 0.75em;
}

.card__image {
  margin-top: 1em;
  border-radius: 10px;
}

/* Contact Form */
.contact__content {
  border: 2px solid var(--lightgray);
  padding: 1em;
  border-radius: 12px;
  margin-bottom: 2em;
}

.contact__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__description > * {
  display: inline-block;
  margin: 0;
}

.contact__btn,
.input-submit {
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  font-size: 0.9em;
  font-weight: 500;
}

.contact__btn:hover,
.input-submit:hover {
  background-color: var(--darkerblue);
  cursor: pointer;
  color: var(--white);
}

.contact__btn {
  border-radius: 7px;
}

.contact__btn--open {
  background-color: var(--red);
}

.contact__btn--open:hover {
  background-color: var(--darkred);
}

.contact__form {
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 0.5fr;
}

.contact__form:has(input) {
  margin-top: 2em;
}

.contact__reason-container,
.input-submit {
  grid-column-start: span 2;
}

.contact__label {
  display: block;
  margin-bottom: 6px;
}

.input-submit {
  justify-self: center;
}

.input-text,
.input-reason {
  width: 100%;
  border: none;
  border: 2px solid var(--lightgray);
  border-radius: 3px;
  padding: 5px 7px;
}

.input-text:focus,
.input-reason:focus {
  outline-color: var(--darkblue);
}

@media (max-width: 750px) {
  .site-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .heading {
    position: static;
    padding-top: 2em;
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .site-nav {
    margin: 0;
  }

  .nav__item {
    display: inline-block;
  }

  .nav__item:not(:last-child) {
    margin-right: 15px;
  }
}
