/***** CONTACT FORM STYLES *****/

.contact__link {
  align-items: center;
  border-radius: 12px;
  border: 2px solid var(--lightgray);
  color: var(--darkgray);
  column-gap: 1em;
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-inline: 1em 1.25em;
  padding-top: 1em;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.contact__link:hover,
.contact__link:focus-visible {
  box-shadow: 0px 2px 4px var(--lightgray);
  -webkit-box-shadow: 0px 2px 4px var(--lightgray);
}

.contact__link__icon {
  transition: 0.2s ease-in-out;
}

.contact__link:hover .contact__link__icon,
.contact__link:focus-visible .contact__link__icon {
  color: var(--darkblue);
  transform: translateX(0.2em);
}

[dir=rtl] .contact__link:hover .contact__link__icon,
[dir=rtl] .contact__link:focus-visible .contact__link__icon {
  transform: scaleX(-1) translateX(0.2em);
}

.contact__link:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  transform: scale(0.99);
}

/***** MEDIA BREAK POINTS STYLES *****/
